.good{
	background-color:#b2d8b2;
}

#weather_icon{
	font-size: 4.0em;
}

.map { 
	position:absolute; 
	top:0; 
	bottom:0; 
	width:100%; 
}

.map-block{
	display: block;
	position: relative;
	width:100%;
	height:500px;
	padding:0!important;
}

.sitename{
	text-transform: capitalize;
}